name: Github Actions Demo

on:
  # Manually
  workflow_dispatch:
    inputs:
      environment:
        description: 'Production env'
        type: environment
        required: true
  
  # On every push to main branch, exclude .github/ folder
  push:
    branches:
      - main
    paths-ignore: ['.github/**']

  # On every pull request to the main barcnh
  pull_request:
    branches:
      - main

  # Every sunday at 6:15 UTC
  schedule:
    - cron: 15 6 * * 0

jobs:
  Build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Print info
        run: |
          echo "Event name ${{ github.event_name }}"
          echo "Branch ${{ github.ref_name }}"

      - uses: actions/checkout@v4
      
      - name: List all files
        run: |
          tree
  
  Test:
    name: Test
    runs-on: ubuntu-latest
    if: github.event_name == 'workflow_dispatch'
    environment: Test
    needs: [Build]
    steps:
      - name: Testing
        run: |
          echo "Testing..."

  Load-Test:
    name: Load-Test
    runs-on: ubuntu-latest
    if: github.event_name == 'workflow_dispatch'
    environment: Load-Test
    needs: [Build]
    steps:
      - name: Load-Test
        run: |
          echo "Testing..."
          sleep 15

  Production:
    name: Production
    runs-on: ubuntu-latest
    needs: [Test, Load-Test]
    if: github.event.inputs.environment == 'Production'
    environment:
      name: Prodution
      url: https://writeabout.net
    steps:
      - name: Step 1
        run: |
          echo "Step 1"
          sleep 10
      - name: Step 2
        run: |
          echo "Step 2"
          sleep 10
      - name: Step 3
        run: |
          echo "Step 3"
          sleep 10
      - name: Step 4
        run: |
          echo "Step 4"
          sleep 10
      - name: Step 5
        run: |
          echo "Step 5"
          sleep 10
  
          
      


    
    
